body{
    margin:20px;
    display:flex;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{ 
    width: 150px;
    height: 150px;
    border: 2px solid #283618;
    
}



.card{
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding:20px;
    
    /* either display: flex to body or use margin like this
    
    margin-left: auto;
    margin-right: auto; 
    
    */
    
    background-image: linear-gradient(90deg, #dda25edc, #bc6c25, #331f0db4);
    color: #fefae0;
    border-bottom: 10px solid #aa6121;
    border-radius: 10%;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}

